* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(#af67e9));
  background: linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
  min-height: 100vh;
}

.container {
  max-width: 1150px;
  padding: 2rem;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .container {
    position: relative;
    padding: 2rem 5rem;
  }
}

h2,
h3 {
  color: #1d1e35;
}

p {
  color: #787887;
}

.card {
  background: white url(../images/bg-pattern-mobile.svg) no-repeat top center;
  margin-top: 130px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  position: relative;
  -webkit-box-shadow: 0 15px 50px -30px #1d1e35;
          box-shadow: 0 15px 50px -30px #1d1e35;
  -webkit-animation: down 1s ease-out;
          animation: down 1s ease-out;
}

@media screen and (min-width: 992px) {
  .card {
    background: white url(../images/bg-pattern-desktop.svg) no-repeat;
    background-position: -575px -300px;
    padding: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }
}

.hero-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
}

@media screen and (min-width: 992px) {
  .hero-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero-img .hero-mobile {
  position: absolute;
  top: -140px;
  margin-right: 1.75rem;
}

@media screen and (min-width: 992px) {
  .hero-img .hero-mobile {
    display: none;
  }
}

.hero-img .hero-desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .hero-img .hero-desktop {
    display: block;
    position: absolute;
    left: -160px;
    bottom: -100px;
  }
}

.faq-container {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .faq-container {
    width: 90%;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.faq-container .heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .faq-container .heading {
    text-align: left;
  }
}

.faq-container .faq-list {
  list-style-type: none;
  margin-bottom: 1rem;
}

.faq-container .faq-list .faq-item {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e7e7e9;
}

.faq-container .faq-list .faq-item .question {
  color: #787887;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.faq-container .faq-list .faq-item .question:hover {
  color: #f47c57;
}

.faq-container .faq-list .faq-item .answer {
  line-height: 1.5;
  font-size: 0.9rem;
  margin-top: 1rem;
  display: none;
  -webkit-animation: down2 0.5s ease-out;
          animation: down2 0.5s ease-out;
}

.faq-container .faq-list .faq-item .arrow {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.faq-container .faq-list .active .question {
  color: #1d1e35;
}

.faq-container .faq-list .active .answer {
  display: block;
}

.faq-container .faq-list .active .arrow {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.box-container {
  position: absolute;
  top: 50%;
}

.box-container .floating-box {
  -webkit-animation: down 1s 0.5s ease-out both;
          animation: down 1s 0.5s ease-out both;
  display: none;
}

@media screen and (min-width: 992px) {
  .box-container .floating-box {
    display: block;
    position: absolute;
    top: -40px;
    left: -93px;
  }
}

.attribution {
  font-size: 11px;
  color: white;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.5;
}

.attribution a {
  font-size: 11px;
  color: #f47c57;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes down2 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down2 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */